[submodule "ai-lectures"]
	path = posts/ai-lectures
	url = git@github.com:MinhHuuNguyen/ai-lectures.git
[submodule "posts/data-engineer-lectures"]
	path = posts/data-engineer-lectures
	url = git@github.com:MinhHuuNguyen/data-engineer-lectures.git
[submodule "posts/blog-sharing"]
	path = posts/blog-sharing
	url = git@github.com:MinhHuuNguyen/blog-sharing.git
