.banner {
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 900px) {
  .banner {
    height: 40vh;
  }
}

@media (max-width: 600px) {
  .banner {
    height: 30vh;
  }
}
